.container {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}
.heading {
	text-align: center;
	font-size: 52px;
	font-weight: 600;
	margin: 0;
}
.desc {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #919299;
	margin: 0 10px 20px;
}
.timeline {
	position: relative;
	overflow: hidden;
}
.box {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	margin-bottom: 20px;
}
.text_box {
	padding: 20px 30px;
	background-color: rgba(17, 25, 40, 0.83);
	box-shadow: rgba(29, 92, 230, 0.15) 0 0 24px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	position: relative;
	border-radius: 16px;
	color: #919299;
}
.left_box {
	left: 0;
}
.right_box {
	left: 50%;
}
.icons {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	right: -25px;
	top: 32px;
	z-index: 10;
}
.right_box .icons {
	left: -25px;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
}
.title {
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
	font-weight: 600;
}
.subtitle {
	color: rgb(177, 178, 179);
	font-size: 20px;
	font-weight: 500;
}
.tags_box {
	display: flex;
	flex-wrap: wrap;
}
.tags {
	font-size: 14px;
	padding: 0 6px;
	margin: 2px;
	border-radius: 12px;
	border: 1px solid rgb(133, 76, 230);
	color: rgb(133, 76, 230);
	background-color: rgba(133, 76, 230, 0.082);
}
.button_box {
	display: flex;
	flex-wrap: wrap;
}
.button_box a {
	flex: 1;
	min-width: fit-content;
	font-weight: 500;
	text-align: center;
	padding: 7px;
	margin: 5px;
	text-decoration: none;
	background-color: rgb(133, 76, 230);
	box-shadow: rgb(31, 38, 52) 0 0 60px;
	color: rgb(242, 243, 244);
	border-radius: 12px;
	transition: all ease-in-out 0.5s;
}
.button_box a:hover {
	background-color: rgba(133, 76, 230, 0.7);
	transition: all ease-in-out 0.5s;
}
.left_box_arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 33px;
	z-index: -1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid rgba(17, 25, 40, 0.83);
	right: -15px;
}
.right_box_arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 33px;
	z-index: -1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid rgba(17, 25, 40, 0.83);
	left: -15px;
}

@media screen and (max-width: 800px) {
	.heading {
		font-size: 40px;
	}
	.desc {
		font-size: 16px;
	}
	.timeline {
		margin: 0 auto;
	}
	.timeline::after {
		left: 31px;
	}
	.box {
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}
	.right_box {
		left: 0;
	}
	.left_box .icons,
	.right_box .icons {
		left: 10px;
	}
	.left_box_arrow,
	.right_box_arrow {
		border-right: 15px solid rgba(17, 25, 40, 0.83);
		border-left: 0;
		left: -15px;
	}
}